<!DOCTYPE html>
<html>

<head>
<title><%- title %></title>
<meta charset="UTF-8">
<!-- 響應式網站 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- 字體 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300&display=swap" rel="stylesheet">
<!--  bootstrap 導入程式 -->
<!-- “rel=stylesheet”，link在文档初始化时将被使用 -->
<link  href="../public/css/all.css" rel="stylesheet">
<link  href="../public/css/style.css" rel="stylesheet">
<script src="../public/js/bootstrap.js"></script>

<!-- bootstrap-icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<!-- register：地址 -->
<script src="../public/js/other/tw-city-selector.js"></script>

<!-- tansetting：導入日曆 -->
<link href='../public/css/calendar.css' rel='stylesheet'>
<script src='../public/js/other/calendar.js'></script>
<!-- 轉換成中文 -->
<script src="../public/js/locales-all.js"></script>

<style>
    *{margin: 0; padding: 0}
    body{
        font-family: 'Noto Serif TC', serif;
    }
    .productRow h4{
        margin:1px auto;
        font-weight: 600;
    }
    .productRow p{
        margin:1px auto;
    } 
    @media (max-width:767.98px) {
        .navbar .product-search{
            width: 250px;
        }
    }
</style>
</head>
<body>
<!-- ------------------------------------------------------------------------------------ -->
    <nav class="navbar navbar-expand-md navbar-dark  bg-dark p-3">
        <!-- fluid:小螢幕也可以擴散出來 -->
        <div class="container-fluid">
            <!-- 品牌logo -->
            <div class="navbar-brand"href="#"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>
                </svg>
            </div>
            <!-- 手機版 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#linkbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 桌上型 -->
            <div class="collapse navbar-collapse" id="linkbar">
                <!-- navbar-nav:水平呈現 me-auto:自動分到兩邊-->
                <!-- 列出內容 -->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="/home" class="nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/tanstart" class="nav-link">開團</a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/tansetting" class="nav-link">賣場</a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/commodity" class="nav-link">商品</a>
                    </li>
                </ul>
                <!-- 列出到右邊 -->
                <!-- d-flex:較短，但中文會無法以一行呈現 -->
                <form class="input-group product-search ms-auto" style="width: 300px;">
                    <input class="form-control"  type="search"placeholder="撿便宜，XXX">
                    <button class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        </button>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/home/shoppingcart" class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/login" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">登入</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link" data-toggle="tooltip" data-placement="top" title="通知">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                            </svg>
                        </a>
                    </li>
                </ul> 
<!-- ------------------------------------------------------------------------------------ -->
                <!-- 跳出視窗內容 ，id=data-bs-target-->
                <div class="modal fade" id="loginModal">
                    <div class="modal-dialog ">
                        <div class="modal-content bg-light">
                            <!-- Header -->
                            <div class="modal-header text-center">
                                <h3>會員登入</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <!-- Body -->
                            <div class="modal-body">
                                <!-- 登入表單 -->
                                <form method="post" action="/login">
                                    <!-- account -->
                                    <div class=" form-group mb-3">
                                        <input id="accountInsert" type="text" class="account form-control" placeholder="請輸入帳號a" name="account">                          
                                    </div>
                                    <!-- password -->
                                    <div class="form-group mb-3">
                                        <input id="passwordInsert" type="password" class="password form-control " placeholder="請輸入密碼" name="password">                          
                                    </div>
                                    <!-- checkbox -->
                                    <div class="form-group mb-3">
                                        <input type="checkbox" class="remember"> 記住我                         
                                    </div>
                                    <!-- 送出按鈕 -->
                                        <button id="loginbtn" type="submit" class="btn btn-primary">登入</button>                                    
                                </form>
                            </div>
                            <!-- Footer -->    
                            <div class="modal-footer ">
                                <div class="quicksingup me-5">
                                    <div>
                                        <span>快速登入</span>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                                            </svg> 
                                        </a>    
                                        <a href="#" class="igoogle">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                                <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                                            </svg> 
                                        </a>    
                                    </div>
                                </div>                              
                                <!-- <div>
                                    <a href="#">
                                        <img src="./img/icon/Google__G__Logo.svg.png">
                            
                                    </a>
                                </div> -->
                                <div class="singup">
                                    <span>尚未註冊</span>
                                    <a href="/home/register" type="button" class="member">立即加入</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </nav>
    <!-- ------------------------------------------------------------------------------------ -->
    <script type="text/javascript" src="../public/js/jquery.js"></script>
    <!-- <script>
    $(function () {
        var membersList = [{
            Account:"12@gmail.com",Password:"12345"
        }];
        var loginModal = new bootstrap.Modal(document.getElementById('loginModal'), {
            keyboard: false
        })
        $("#loginbtn").on("click", function () {
            loginModal.hide();
            console.log(dataToServer);
            var dataToServer = {
                Account: $("#accountInsert").prop("value"),
                Password: $("#passwordInsert").val(),
            }
            $.ajax({
                type: "post",
                url: "/data/login",
                data: dataToServer
            }).then(function (e) {
                //更新
                membersList = JSON.parse(e);
                console.log(membersList);
            })
        })
    })
    </script> -->

    <%- body %>

</body>
    <!-- register：亂碼 -->
    <script src="../public/js/other/garbageGenerator.js"></script>
</html>