nav.navbar.navbar-expand-md.navbar-dark.bg-dark.p-3
    //  fluid:小螢幕也可以擴散出來 
    .container-fluid
        //  品牌logo 
        .navbar-brand(href='#')
            svg.bi.bi-asterisk(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewBox='0 0 16 16')
                path(d='M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z')
        //  手機版 
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#linkbar')
            span.navbar-togfgler-icon
        //  桌上型 
        .collapse.navbar-collapse#linkbar
            //  navbar-nav:水平呈現 me-auto:自動分到兩邊
            //  列出內容 
            ul.navbar-nav.me-auto
                li.nav-item
                    a.nav-link(href='#')
                        svg.bi.bi-house-door(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewBox='0 0 16 16')
                            path(d='M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z')
                li.nav-item
                    a.nav-link(href='./tanstart.html') 開團
                li.nav-item
                    a.nav-link(href='./tansetting.html') 我的賣場
            //  列出到右邊 
            //  d-flex:較短，但中文會無法以一行呈現 
            form.input-group.product-search.ms-auto(style='width: 300px;')
                input.form-control(type='search' placeholder='搜尋文字')
                button.btn.btn-primary(type='submit') 搜尋
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='#' type='button' data-bs-toggle='modal' data-bs-target='#loginModal') 會員登入
                li
                    a.nav-link(href='#' data-toggle='tooltip' data-placement='top' title='通知')
                        svg.bi.bi-bell(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewBox='0 0 16 16')
                            path(d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z')
            nav.navbar.navbar-expand-md.navbar-dark.bg-dark.p-3
                //  fluid:小螢幕也可以擴散出來 
                .container-fluid
                    //  品牌logo 
                    .navbar-brand(href='#')
                        svg.bi.bi-asterisk(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewBox='0 0 16 16')
                            path(d='M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z')
                    //  手機版 
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#linkbar')
                        span.navbar-toggler-icon
                    //  桌上型 
                    .collapse.navbar-collapse#linkbar
                        //  navbar-nav:水平呈現 me-auto:自動分到兩邊
                        //  列出內容 
                        ul.navbar-nav.me-auto
                            li.nav-item
                                a.nav-link(href='#')
                                    svg.bi.bi-house-door(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewBox='0 0 16 16')
                                        path(d='M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z')
                            li.nav-item
                                a.nav-link(href='./tanstart.html') 開團
                            li.nav-item
                                a.nav-link(href='./tansetting.html') 我的賣場
                        //  列出到右邊 
                        //  d-flex:較短，但中文會無法以一行呈現 
                        form.input-group.product-search.ms-auto(style='width: 300px;')
                            input.form-control(type='search' placeholder='搜尋文字')
                            button.btn.btn-primary(type='submit') 搜尋
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(href='#' type='button' data-bs-toggle='modal' data-bs-target='#loginModal') 會員登入
                            li
                                a.nav-link(href='#' data-toggle='tooltip' data-placement='top' title='通知')
                                    svg.bi.bi-bell(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewBox='0 0 16 16')
                                        path(d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z')
