<% layout('layout') %>
<!-- 基本資訊 -->
<div class="container-md p-5 mt-5 bg-light tansetting">
    <form action="/data/product" method="post" class="ps-5">
        <div class="row mb-3">
            <h1><strong>基本資訊</strong></h1><hr>
        </div>
        
        <div class="row mb-3">
            <div class="col-sm-8">
                <label for="phone">商品名稱</label>
                <input type="tel" id="phone" class="form-control" placeholder="商品名稱"> 
            </div>
        </div>              

        <div class="row mb-3">
            <div class="col-sm-8">
                <label for="formFile" class="form-label">上傳商品圖</label>
                <input type="file" class="form-control" id="formFile">
            </div>                  
        </div>

        <div class="row mb-3">
            <div class="col-sm-8">
                <select class="form-select mb-3" aria-label=".form-select-lg example">
                    <option selected>商品種類</option>
                    <option value="1">食物</option>
                    <option value="2">用品</option>
                    <option value="3">飲料</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-8">
                <label for="brand">品牌</label>
                <input type="text" id="brand" class="form-control"">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-8">
                <label for="name">產地</label>
            <input type="text" id="name" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-8">
                <label for="exampleFormControlTextarea1" class="form-label">商品簡介</label>
                <textarea class="form-control " id="exampleFormControlTextarea1" rows="7"></textarea>
            </div>  
        </div>                      
    </form>
</div>
<!-- --------------------------------------------------------------------- -->
<!-- 銷售資訊-->
<div class="container-md p-5 mt-5 bg-light tansetting">
    <form action=""class="ps-5">
        <div class="row mb-3">
            <h1><strong>銷售資訊</strong></h1><hr>
        </div>

        <div class="row mb-3">
            <div class="col-sm-8">
                <span class="input-group-text">$</span>
                <input type="text" aria-label="price" class="form-control" placeholder="價格">
            </div>   
        </div>

        <div class="row mb-3">
            <div class="col-sm-8">
                <span class="input-group-text">@</span>
                <input type="text" aria-label="num" class="form-control" placeholder="數量">
            </div>   
        </div>                  
    </form>
</div>          

<!-- --------------------------------------------------------------------- -->
<!-- 運費 -->
<div class="container-md p-5 my-5 bg-light tansetting">
    <form action="" class="ps-5">
        <div class="mb-3 ">
            <h1><strong>運費</strong></h1>
        </div><hr>

        <div class="row mb-3">
            <div class="col-sm-8">
                <label for="brand">重量</label>
                <input type="text" id="brand" class="form-control" placeholder="輸入公克">
            </div>
        </div>

        <div class="row mb-3">               
            <div class="col-sm-8"> 
                <label for="brand">尺寸</label>
                <div class="col-sm-8 input-group">
                    <input type="text" id="brand" class="form-control" placeholder="輸入長">
                    <input type="text" id="brand" class="form-control" placeholder="輸入寬">
                    <input type="text" id="brand" class="form-control" placeholder="輸入高">
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-8 input-group">
                <span class="input-group-text">7-11</span>                        
                    <div class="form-check form-switch mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" data-bs-toggle="modal" data-bs-target=".deliveryFee" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>    
                    <label class="form-check-label" for="delivery1">&nbsp運費：60</label>
                    <input class="form-check-input" type="checkbox" id="delivery1">
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-8 input-group">
                <span class="input-group-text">全家</span>                        
                    <div class="form-check form-switch mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" data-bs-toggle="modal" data-bs-target=".deliveryFee" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>    
                    <label class="form-check-label" for="delivery2">&nbsp運費：60</label>
                    <input class="form-check-input" type="checkbox" id="delivery2">
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-8 input-group">
                <span class="input-group-text">OK</span>                        
                <div class="form-check form-switch mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" data-bs-toggle="modal" data-bs-target=".deliveryFee" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>    
                    <label class="form-check-label" for="delivery4">&nbsp運費：60</label>
                    <input class="form-check-input" type="checkbox" id="delivery4">
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-8 input-group">
                <span class="input-group-text">萊爾富</span>                        
                    <div class="form-check form-switch mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" data-bs-toggle="modal" data-bs-target=".deliveryFee" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>    
                    <label class="form-check-label" for="delivery3">&nbsp運費：60</label>
                    <input class="form-check-input" type="checkbox" id="delivery3">
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-8 input-group">
                <span class="input-group-text">面交</span>                        
                <div class="form-check form-switch mx-2">   
                    <label class="form-check-label" for="delivery5">&nbsp運費：0</label>
                    <input class="form-check-input" type="checkbox" id="delivery5">
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-8">
                <label for="exampleFormControlTextarea1" class="form-label">備註</label>
                <textarea class="form-control " id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>  
        </div> 

        <div class="d-grid justify-content-end">
            <a class="btn btn-primary me-5 btn-lg" type="button">送出</a>
        </div>
    </form>
</div>

<!-- --------------------------------------------------------------------- -->
<!-- 跳出視窗內容 ，id=data-bs-target-->
<div class="modal fade deliveryFee">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content bg-light modal-content">
            <!-- Header -->
            <div class="modal-header text-center">
                <h3>運費</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Body -->
            <div class="modal-body">
                <!--  -->
                <form action="#">
                    <h5>運費NT <span>60(打勾變成0 或修改)</span></h5>
                    <!-- 會變 -->
                    
                    <div class="form-group mb-3">
                        <input type="checkbox" class="remember"> 我願意負擔運費                         
                    </div>
                    <!-- 送出按鈕 -->
                        <button type="button" class="btn btn-primary ms-auto">確認</button>                                    
                </form>
            </div>
            <!-- Footer -->    
            <div class="modal-footer">
                <div class="singup">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --------------------------------------------------------------------- -->